<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<!--
ユーザがth:fieldに入力すると、オブジェクトのnewMessage.textフィールドに追加されコントローラによりテンプレートに提供される。
submitを押すと、POSTリクエストを利用して、th:actionの/homeへnewMessageオブジェクトを送信する。
-->
<form th:object="${newMessage}" th:action="@{/home}" action="#" method="POST">
    <input th:field="*{text}" type="text">
    <input type="submit">
</form>
<h1  th:each="msg : ${greetings}"
     th:text="${msg}"
     th:unless="${msg.contains('goodbye')}"
>Hello, homepage!</h1>
</body>
</html>